include ../../../common/_mixins
include ../../../common/_settings

section.news-arts
    .articles
        .articles__list
            each item in newsArts
                a(href='./article.html').articles__item
                    .articles__date
                        .articles__day= item.date.day
                        .articles__month= item.date.month
                    .articles__img
                        img(src=item.src).articles__img-img
                    .articles__desc
                        .articles__text= item.desc
                        .articles__desc-bottom
                            .articles__thematic Создание сайтов
                            .articles__view= item.view
                            .articles__time= item.time
                        .articles__arrow
                            +arrow()
        .articles__hidden
            .articles__list
                each item in newsArts
                    a(href='./article.html').articles__item
                        .articles__date
                            .articles__day= item.date.day
                            .articles__month= item.date.month
                        .articles__img
                            img(src=item.src).articles__img-img
                        .articles__desc
                            .articles__text= item.desc
                            .articles__desc-bottom
                                .articles__thematic Создание сайтов
                                .articles__view= item.view
                                .articles__time= item.time
                            .articles__arrow
                                +arrow()

        //TODO Заменить на пагинацию или придумать чтото-то с фоном
        button(type='button').articles__more.button загрузить еще