include ../../common/_mixins
include ../../common/_settings

section.cat

    //-TITLE
    .cat__title Нам есть чем гордиться

    //-SUBTITLE
    .cat__subtitle Не гонимся за количеством, работаем на результат

    //- CATLOG
    .cat__list
        each val, index in sites
            a(href=val.href title=val.title style='background-color:'+val.color).cat__item
                .proportion.proportion_1x1
                .cat__item-img
                    img(src=val.img).cat__item-pic

    //- MENU
    .cat__menu
        .menu.menu_top
            each item in menu
                a(href=item.href).menu__item
                    .menu__item-container
                        .menu__item-title= item.title
